.login-page {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: black;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      padding: 2rem;
      width: 300px;
    }
  }
}
