body .apexcharts-tooltip.apexcharts-theme-dark {
  background: none;
  .tooltipPie {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #444;
    padding: 3px 20px;
  }

  h2,
  p {
    margin: 0;
  }
}

.chartPieMain .apexcharts-legend {
  display: grid;
  width: 40rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}
