body .apexcharts-tooltip.apexcharts-theme-dark {
  background: none;
  .tooltipPie {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #444;
    padding: 3px 20px;
  }

  h2,
  p {
    margin: 0;
  }
}

.chartPieMain .apexcharts-legend {
  display: grid;
  width: 40rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.info_online {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .text_online {
    text-align: center;
    color: #fff;
    // font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0.3rem;
    background: rgb(46, 46, 46);
  }
}
